/*Start point for nav and jumbotron*/
.btn {
    border-radius: 0px !important;
}

.navbar {
    background-color: white;
}

.shop {
    height: 10px;
    background-color: black;
    display: block;
}


@media (max-width:767px) {
    .navbar-header {
        display: flex;
    }
}

@media (max-width:767px) {
    .navbar-toggle {
        order: 0;
        margin-left: 15px;
        margin-right: 0;
    }
}

.navbar-fixed-top {
    min-height: 100px;
}

@media (max-width:767px) {
    .navbar-fixed-top {
        min-height: 30px;
    }
}

.navbar-brand {
    line-height: 60px;
    font-size: 36px;
}

@media (max-width:767px) {
    .navbar-brand {
        line-height: 20px;
        margin-left: 90px;
    }
}

.searchInput {
    float: right;
    padding-top: 25px;
    padding-left: 150px;
}

.form-control {
    width: 300px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


.jumBut {
    color: black;
    background-color: white;
    width: 180px;
    margin: 10px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.lead {
    display: inline-block;
}

@media (max-width: 767px) {
    .lead {
        margin-top: 230px;
    }
}

.jumbotron-fluid {
    width: 100%;
    height: 550px;
    background: url('../images/homepage2.jpg');
    background-size: cover;
    background-position: center center;
    padding: 40px;

}

@media (max-width: 767px) {
    .jumbotron-fluid {

        padding: 0px;

    }
}

.jumbotron-description {
    float: right;
    margin-top: 100px;
    margin-bottom: 40px;
    align-items: right;
}

.jumbotron-description > p {
    color: white;
    font-size: 18px;
}

.jumbotron-description h1 {
    min-width: 180px;
    font-size: 50px;
    color: white;
}

/*End point for nav and jumbotron*/

/*Starting point for main product*/

.Main {
    margin-top: 50px;
}


.explanation {
    padding-left: 30px;
}

.explanation > h2 {
    font-size: 26px
}

.explanation > p {
       font-size: 17px;
    }

@media (max-width: 767px) {
    .explanation > p {
        text-align: center;
    }
}
